@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
}

/*APRESENTAÇÃO / NAVEGAÇÃO*/
#top{
    height: 100vh;
    background-image: url(image/back-1.png);
    background-size: cover;
}
.top-content{
    height: 100px;
}
.top-menu{
    margin: auto;
    max-width: 900px;
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    display: flex;
}
.menu li{
    list-style: none;
    padding-left: 45px;
}
.menu a{
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
}
.menu a:hover{
    color: #CC6CE6;
    transition: 0.4s;
}
.top-content img{
    width: 120px;
    transition: 0.3s;
}
.top-content img:hover{
    width: 130px;
    transition: 0.4s;
}
.apresentation-content{
    margin: auto;
    padding-top: 30vh;
    text-align: left;
    width: 70%;
    max-width: 900px;
    color: #fff;
}
.apresentation-content h1{
    font-weight: normal;
    font-size: 60px;
    font-weight: 500;
}
.apresentation-content h2{
    font-weight: normal;
    margin-top: 10px;
    font-size: 35px;
    color: #CC6CE6;
}
/*BARRA PISCANDO*/
.apresentation-content h2:last-child:after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca 0.7s infinite;
}
@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
/*CURSOR DE MOVIMENTO*/
#course-move{
    right: 30px;
    bottom: 30px;
    position: fixed;
    transform: rotate(+90deg);
}
#course-move img:hover{
    width: 50px;
}