@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
}

/*APRESENTAÇÃO - NAVEGAÇÃO*/
#top{
    height: 100vh;  
    background-image: url(image/back-1.png);
    background-size: cover;
}
.background{
    height: 100vh;
}
/*MENU MOBILE*/
.top-content-mobile{
    height: 65px;
    background-color: #000;
    display: none;
    justify-content: space-between;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 999;
    border-bottom: 1px solid rgba(255, 255, 255, 0.212);
}
.top-content-mobile img{
    width: 100px;
    margin: 0 25px;
    cursor: pointer;
}
.menu-openned{
    transition:all ease .2s;
    width:0vw;
    height: 100vh;
    padding: 5px 0 0 5px;
    right: 0;
    position: fixed;
    background-color: #000;
    z-index: 999;
    border-radius: 5px;
}
.menu-openned ul{
    padding-bottom: 15px;
    list-style: none;
}
.menu-openned li{
    padding: 25px 0 0 10px;
    font-size: 20px;
}
.menu-openned a{
    color: #d186e6;
}
.menu-openned a:hover{
    color: #fff;
}
.show{
    width: 50vw;
}
.close-menu{
    font-size: 30px;
    cursor: pointer;
}

/*MENU DESKTOP*/
.top-content{
    height: 90px;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 999;
}
.top-menu{
    margin: auto;
    max-width: 900px;
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    display: flex;
}
.menu li{
    list-style: none;
    padding-left: 45px;
}
.menu a{
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
}
.menu a:hover{
    text-decoration: underline;
    color: #CC6CE6;
    transition: 0.4s;
}
.top-content img{
    width: 120px;
    transition: 0.3s;
}
.top-content img:hover{
    width: 130px;
    transition: 0.4s;
}
.apresentation-content{
    margin: auto;
    padding-top: 30vh;
    text-align: left;
    width: 90%;
    max-width: 900px;
    color: #fff;
}
.apresentation-content h1{
    font-weight: normal;
    font-size: 60px;
    font-weight: 500;
}
.apresentation-content h2{
    font-weight: normal;
    margin-top: 10px;
    font-size: 35px;
    color: #CC6CE6;
}
/*BARRA PISCANDO*/
.apresentation-content h2:last-child:after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca 0.7s infinite;
    position: relative;
}
@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
/*CURSOR AVANÇAR*/
#course-move a{
    right: 20px;
    bottom: 25px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#course-move span{
    transform: rotate(+90deg);
    padding-right: 35px;
    font-size: 13px;
}
#course-move img{
    width: 50px;
}
/*CURSOR TOPO*/
#course-move2 a{
    right: 15px;
    bottom: 75px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#course-move2 span{
    transform: rotate(+90deg);
    padding-left: 15px;
    font-size: 15px;
}
#course-move2 img{
    width: 50px;
    transform: rotate(-180deg);
}

/*BLOCO 1 - SOBRE MIM*/
#about-me-tab{
    border-top: 1px solid rgba(128, 128, 128, 0.63);
    background-color: #000;
    padding-bottom: 130px;
}
.about-me-content{
    margin: auto;
    width: 90%;
    height: 100%;
    max-width: 1200px;
    height: 100%;
    color: #fff;
    text-align: center;
}
.tab-number{
    background-color: #CC6CE6;
    margin: auto;
    width: 130px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.tab-title{
    font-size: 40px;
    margin-top: 15px;
    font-weight: bolder;
}
.about-me-resume{
    margin-top: 70px;
    display: flex;
}
.about-me-resume-screen{
    margin-top: 60px;
    width: 95%;
}
.about-me-resume-screen img{
    width: 300px;
    border: 2px solid #CC6CE6;
    border-radius: 5px;
}
.about-me-resume-text{
    text-align: left;
    width: 95%;
}
.about-me-resume-text h2{
    font-weight: 500;
    font-size: 35px;
}
.about-me-resume-text span{
    margin-top: 35px;
}
.about-me-resume-text p{
    margin-top: 25px;
    font-family: 'Open Sans' ,Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

/*BLOCO 2 - PORTIFÓLIO*/
#portifolio-tab{
    background-color: #000;
    padding-bottom: 100px;
}
.portifolio-content{
    margin: auto;
    width: 90%;
    height: 100%;
    max-width: 1200px;
    height: 100%;
    color: #fff;
    text-align: center;
    background-color: #000;
}
.portifolio-resume-categories{
    margin: auto;
    width: 98%;
    max-width: 500px;
    margin-bottom: 40px;
}
.portifolio-resume-categories ul{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: lighter;
}
.portifolio-resume-categories li{
    cursor: pointer;
    font-weight: 500;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    transition: 0.3s;
}
.selectioned{
    color: #dba1eb;opacity: 1;
    animation: semi-pisca 0.7s infinite;
}
@keyframes semi-pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0.7;
    }
}
.portifolio-resume{
    margin: auto;
    max-width: 1300px;
    width: 95%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.portifolio-resume-square{
    min-width: 300px;
    width: 32%;
    height: 280px;
    margin-left: 15px;
    margin-bottom: 15px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: 0.3s;
}
.portifolio-resume-square img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.portifolio-resume-square:hover{
    border: 2px solid #CC6CE6;
    transition: 0.3s;
}


/*BLOCO 3 - QUALIFIÇAÕES*/
#qualification-tab{
    background-color: #000;
    padding-bottom: 100px;
}
.qualification-content{
    margin: auto;
    width: 90%;
    height: 100%;
    max-width: 1200px;
    height: 100%;
    color: #fff;
    text-align: center;
    background-color: #000;
}
.qualification-content .tab-title{
    font-size: 36px;
}
.qualification-resume{
    margin-top: 50px;
}
.study-content{
    display: flex;
    justify-content: space-between;
}
.qualification-resume-title{
    text-align: center;
    width: 30%;
    font-size: 25px;
    font-weight: 500;
}
.qualification-resume-text{
    margin-top: 40px;
    width: 50%;
    text-align: left;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.experience-content{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

/*BLOCO 4 - CONTATO*/
#contact-tab{
    background-color: #000;
    padding-bottom: 100px;
}
.contact-content{
    margin: auto;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    color: #fff;
    text-align: center;
}
.contact-resume{
    display: flex;
    margin-top: 20px;
}

/*FORMULÁRIO*/
.send-messenge{
    height: 550px;
    width: 95%;
    max-width: 500px;
    border: 2px solid #316C99;
}
.send-messenge-form{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    outline: none;
}
.send-messenge-form input{
    outline: none;
    width: 90%;
    max-width: 368px;
    margin-bottom: 15px;
    padding: 7px;
}
.localidade{
    display: flex;
    width: 90%;
    max-width: 368px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.localidade input{
    width: 49%;
}
.send-messenge-form textarea{
    padding: 7px;
    outline: none;
    width: 90%;
    max-width: 368px;
    height: 150px;
    resize: none;
}
.submit-messenge{
    margin-top: 10px;
    width: 100%;
    max-width: 150px;
    text-align: center;
}

/*CONTATO LISTA*/
.contact-list{
    text-align: center;
    margin: auto;
}
.contact-list p{
    margin-top: 80px;
    font-size: 18px;
}
.contact-list ul{
    padding-top: 50px;
    margin: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 200px;
}
.contact-list li{
    padding-bottom: 25px;
    font-size: 18px;
}
.contact-list a{
    display: flex;
    align-items: center;
}
.contact-list a:hover{
    color: rgba(255, 255, 255, 0.808);
}
.contact-list a img{
    max-width: 45px;
    padding-right: 10px;
}

/*FOOTER*/
footer{
    height: 50px;
    text-align: center;
    background-color: #000;
    color: #fff;
}

/*ANIMATION*/
[data-anime]{
    opacity: 0;
    transform: scale(0.5);
}
[data-anime].animated{
    opacity: 1;
    transition: .8s;
    transform: scale(1);
}

/*RESPONSIVIDADE*/
@media (max-width:900px){
    .top-content{
        display: none;
    }
    .top-content-mobile{
        display: flex;
    }
    .about-me-resume{
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }
    .about-me-resume-text{
        margin-top: 25px;
        text-align: justify;
    }
    .about-me-resume-text h2{
        text-align: center;
    }
    #course-move,#course-move2{
        display: none;
        opacity: 0;
    }
}

@media (max-width:600px){
    .portifolio-resume-square{
        width: 80%;
    }
    .study-content, .experience-content{
        flex-direction: column;
        align-items: center;
    }
    .qualification-resume-title, .qualification-resume-text{
        width: 95%;
    }
    .qualification-resume-text{
        text-align: justify;
    }
}

@media (max-width:450px) {
    .apresentation-content h1{
        font-size: 40px;
    }
    .apresentation-content h2{
        font-size: 25px;
    }
    .tab-title{
        margin-bottom: 0px;
        font-size: 35px;
    }
    .portifolio-resume, .contact-resume{
        margin-top: 20px;
    }
    #about-me-tab{
        padding-bottom: 50px;
    }
    .about-me-resume-screen img{
        width: 200px;
    }
    .about-me-resume-text{
        font-size: 13px;
    }
    .portifolio-resume-categories li{
        font-size: 13px;

    }
    .qualification-resume-title{
        font-size: 20px;
    }
    .qualification-resume-text{
        font-size: 14px;
    }
}